body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth; /* Desplazamiento suave */
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

header img {
    width: 100%;
    height: auto;
}

section {
    padding: 80px 20px; /* Aumentamos el espacio superior e inferior para ocupar la pantalla */
    height: 100vh; /* Altura completa de la pantalla */
}

form {
    display: grid;
    gap: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Añadimos un estilo para resaltar la sección activa en el menú de navegación */
nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

nav a.active {
    font-weight: bold;
}

/* Estilo para el botón de desplazamiento hacia arriba */
#scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    display: none;
}