body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: #f2f2f2;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff; /* Cambiado a blanco para un encabezado claro */
    color: #333; /* Cambiado a gris oscuro para mejor contraste */
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    color: #333;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

header img {
    width: 50px;
    height: auto;
}
section {
    padding: 80px 20px; /* Aumentamos el espacio superior e inferior para ocupar la pantalla */
    height: 100vh; /* Altura completa de la pantalla */
    color: #333; /* Color principal de texto gris oscuro */
    text-align: center;
}

section:nth-child(even) {
    background-color: #fff; /* Fondo blanco para secciones pares */
}

form {
    display: grid;
    gap: 10px;
    background-color: #fff; /* Fondo blanco para formularios */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Añadimos un estilo para resaltar la sección activa en el menú de navegación */
nav a.active {
    font-weight: bold;
}

/* Estilo para el botón de desplazamiento hacia arriba */
#scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    display: none;
}
