body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: #ecf0f1; /* Fondo claro */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3498db; /* Azul tecnológico */
    color: #ffffff; /* Texto blanco para mayor contraste */
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    border-bottom: 2px solid #2c3e50; /* Borde gris oscuro */
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

header img {
    width: 50px;
    height: auto;
}

section {
    padding: 80px 20px;
    height: 100vh;
    color: #333333; /* Texto gris oscuro */
}

section:nth-child(even) {
    background-color: #ffffff; /* Fondo blanco para secciones pares */
}

form {
    display: grid;
    gap: 10px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #bdc3c7; /* Borde gris claro */
}

footer {
    background-color: #3498db;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Añadimos un estilo para resaltar la sección activa en el menú de navegación */
nav a.active {
    font-weight: bold;
}

/* Estilo para el botón de desplazamiento hacia arriba */
#scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #3498db;
    color: #ffffff;
    padding: 10px;
    border: none;
    cursor: pointer;
    display: none;
}


#presentacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3498db; /* Fondo azul tecnológico */
    color: #ffffff; /* Texto blanco para mayor contraste */
    padding: 80px 20px;
}

.presenta {
    max-width: 600px; /* Ancho máximo del contenido de la presentación */
}

.presenta h1 {
    font-size: 2.5em; /* Tamaño grande para el encabezado */
    margin-bottom: 20px;
}

.presenta p {
    font-size: 1.2em; /* Tamaño grande para el párrafo */
    margin-bottom: 20px;
}

.presenta ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

.presenta li {
    margin-right: 20px;
}

.presenta a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2em; /* Tamaño grande para los enlaces */
}

.imagen-presenta {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Alinea la imagen desde la parte superior */
}

.imagen-presenta img {
    max-width: 200px; /* Ancho máximo para la imagen */
    height: auto;
    border-radius: 50%; /* Forma de círculo */
    object-fit: cover; /* Para asegurar que la imagen se ajuste al círculo sin deformaciones */
    margin-top: -10px; /* Desplazamiento hacia arriba para mostrar la parte superior de la imagen */
}


/* seccion SOBRE MI */
#sobre-mi {
    background-color: #ffffff; /* Fondo blanco */
    color: #333333; /* Texto gris oscuro para mayor contraste */
    padding: 80px 20px;
    text-align: center;
}

#sobre-mi h2 {
    color: #3498db; /* Texto azul tecnológico para el encabezado */
    font-size: 2.5em;
    margin-bottom: 20px;
}

#sobre-mi img {
    max-width: 200px; /* Tamaño máximo para la imagen de perfil */
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra suave */
}

#sobre-mi p {
    font-size: 1.2em;
    text-align: left; /* Alineación del texto a la izquierda */
    max-width: 600px; /* Ancho máximo para el contenido del párrafo */
    margin: 0 auto; /* Centramos el párrafo horizontalmente */
}

#sobre-mi strong {
    color: #3498db; /* Texto azul tecnológico para las etiquetas fuertes */
    font-weight: bold;
}


/*  Formación y Cursos  */
#formacion {
    background-color: #f5f5f5; /* Fondo gris muy claro */
    color: #333333; /* Texto gris oscuro para mayor contraste */
    padding: 50px 20px; /* Ajuste del padding */
    margin: 0 auto; /* Centramos la sección horizontalmente */
    max-width: 1200px; /* Ancho máximo para evitar que la sección se extienda demasiado */
    text-align: center;
}

#formacion h2 {
    color: #3498db; /* Texto azul tecnológico para el encabezado */
    font-size: 2.5em;
    margin-bottom: 20px;
}

#formacion ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center; /* Centramos los elementos horizontalmente */
}

#formacion li {
    margin: 0 10px; /* Márgenes entre los cuadros de habilidades */
    text-align: center; /* Centramos el texto dentro del cuadro */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px;
}

#formacion li img {
    max-width: 80px; /* Tamaño mediano para los logos */
    height: auto;
    margin-bottom: 10px;
}

#formacion li span {
    display: block;
    font-size: 1.2em;
}

/* Experiencia en programación  */
#experiencia {
    background-color: #f2f2f2; /* Fondo gris muy claro */
    color: #333333; /* Texto gris oscuro para mayor contraste */
    padding: 80px 20px;
    text-align: center;
}

#experiencia h2 {
    color: #3498db; /* Texto azul tecnológico para el encabezado */
    font-size: 2.5em;
    margin-bottom: 20px;
}

.proyectos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.proyecto {
    display: flex;
    width: 100%;
    max-width: 600px; /* Ancho máximo para evitar que los proyectos sean demasiado anchos */
    margin-bottom: 40px; /* Espacio entre proyectos */
}


.proyecto-imagen {
    flex: 1; /* Ocupa el 50% del ancho disponible */
}

.proyecto-info {
    flex: 1; /* Ocupa el 50% del ancho disponible */
    padding: 0 20px; /* Espaciado alrededor del contenido de información */
}

.proyecto-imagen img {
    max-width: 100%; /* La imagen ocupa el ancho completo de su contenedor */
    height: auto;
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin-bottom: 10px; /* Espacio entre la imagen y la información del proyecto */
}

.proyecto-info h3 {
    color: #3498db; /* Texto azul tecnológico para el título del proyecto */
    font-size: 1.8em;
    margin-bottom: 10px;
}

.proyecto-info p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.botones-proyecto a {
    text-decoration: none; /* Quita el subrayado del enlace */
}

.botones-proyecto button {
    background-color: #3498db; /* Fondo azul tecnológico para los botones */
    color: #ffffff; /* Texto blanco para mayor contraste */
    padding: 10px 20px;
    border: none;
    border-radius: 5px; /* Bordes redondeados */
    margin-right: 10px; /* Espacio entre los botones */
    cursor: pointer;
}

.botones-proyecto button:hover {
    background-color: #2c3e50; /* Cambio de color al pasar el ratón */
}


/* contacto */

#contacto {
    background-color: #ffffff; /* Fondo blanco */
    color: #333333; /* Texto gris oscuro para mayor contraste */
    padding: 80px 20px;
    text-align: center;
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    max-width: 600px; /* Ancho máximo para evitar que la sección sea demasiado ancha */
    margin: 0 auto; /* Centramos la sección horizontalmente */
}

#contacto h2 {
    color: #3498db; /* Texto azul tecnológico para el encabezado */
    font-size: 2.5em;
    margin-bottom: 20px;
}

#formulario-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#formulario-contacto label {
    margin-bottom: 8px;
}

#formulario-contacto input,
#formulario-contacto textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #3498db; /* Borde azul tecnológico */
    border-radius: 5px; /* Bordes redondeados */
}

#formulario-contacto button {
    background-color: #3498db; /* Fondo azul tecnológico para el botón */
    color: #ffffff; /* Texto blanco para mayor contraste */
    padding: 12px 20px;
    border: none;
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer;
}

#formulario-contacto button:hover {
    background-color: #2c3e50; /* Cambio de color al pasar el ratón */
}
